<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<link rel="stylesheet" href="/stylesheets/profiles/show.css"/>

<main>
  <% if (profile.avatar) { %>
    <div>
      <img 
        class="profile-avatar"
        src="<%= profile.avatar %>" 
        alt="<%= profile.name %> avatar"
      >
    </div>
  <% } %>
  <h1>It's <%= isSelf ? "you" : profile.name %>!</h1>
</main>
<body>
  <% if (profile.comments.length) {%> 
    <h3>Comments</h3>
  <%} else {%> 
      <h2>No Comments</h2>
  <% } %> 


  <% profile.comments.forEach(comment => { %>
    <div class="card" style="width: 30rem;">
      <div class="card-header">
        User
      </div>
      <div class="card-body">
        <p class="card-text"><%= comment.content %> commented on 
          <%=comment.createdAt.toString().substring(0,15) %> 
        </p>
      </div>
    <% if (comment.owner.equals(user.profile._id)) { %>
        <form action="/profiles/<%= profile._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
        </br>
        <button type="submit" class="btn btn-warning" id="btn-remove">
          Remove
        </button>
        </form>
    <% } %> 
    </div>
  <% }) %>

    <form action="/profiles/<%= profile._id %>/comments" method="POST">
      <input type="text" name="content" placeholder="Leave a comment..." autocomplete="off" required/>
        <button type="submit" class="btn btn-primary">
          Submit
        </button>
      </form>
    <a class="back-btn" href="/profiles">Go Back </a>
  <%- include('../partials/footer') %>