<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <% if (profile.avatar) { %>
    <div>
      <img 
        class="profile-avatar"
        src="<%= profile.avatar %>" 
        alt="<%= profile.name %> avatar"
      >
    </div>
  <% } %>
  <h1>It's <%= isSelf ? "you" : profile.name %>!</h1>
</main>

<h1>Number of Runs Posted</h1>
<h1>Number of Races Suggested</h1>
<% if (profile.comments.length) {%> 
<h2>Comments</h2>
<%} else {%> 
  <h2>No Comments</h2>
<% } %> 
<div>
  <ul>
    <% profile.comments.forEach(comment => { %>
      <li><%= comment.content %></li>
      <div class="btn-container">
      <% if (comment.owner.equals(user.profile._id)) { %>
     <img id="commentProfilePic" src="<%=comment.avatar%>">
        <form action="/profiles/<%= profile._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
        </br>
          <button type="submit">
            Delete
          </button>
        </form>
        <% } %>  
      </div>
    <% }) %>
  </ul> 
</div>

<div class="card-footer">
    <form action="/profiles/<%= profile._id %>/comments" method="POST">
      <input
      type="text"
      name="content"
      placeholder="Leave a comment..."
      autocomplete="off"
      required
      />
      <button type="submit" class="btn btn-primary">
        Submit
      </button>
    </form>
  </div>
<%- include('../partials/footer') %>