<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Workouts</h1>
  <h2>Try A New Workout </h2>
  <a href="/workouts/new"> 
    <h3>or add one to the list!</h3>
  </a>


	<tbody>

    <% workouts.forEach(function(workout) { %>
      <tr>
        <td> <%= workout.type %></td>
        <td> <%= workout.name %></td>
        <td> <%= workout.description %></td>
    <% }) %>
      </tr>
  </tbody>
  
</section>

<%- include('../partials/footer') %>