<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <section>
    <h1>Workouts</h1>
    <h2>Try A New Workout </h2>
    <a href="/workouts/new"> 
      <h3>or add one to the list!</h3>
    </a>

    <table>
      <thead>
        <tr>
          <th>Type</th>
          <th>Name</th>
          <th>Description</th>
          <th>View Details</th>
          <th>To Do?</th>
        </tr>
      </thead>
      <tbody>
        <% workouts.forEach(function(workout) { %>
          <tr>
            <td> <%= workout.type %></td>
            <td> <%= workout.name %></td>
            <td> <%= workout.description %></td>
            <td>
              <a href="/workouts/<%= workout._id %>">
                <button> View Details</button>
              </a>
            </td>
            <td><input type="checkbox" name=""></td>
        <% }) %>
          </tr>
      </tbody>
    </table>
  </section>
</main>
<%- include('../partials/footer') %>