<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <section>
    <h1>Workout Details</h1>
    <h2>Try A New Workout </h2>
    <a href="/workouts"> 
      <h3>or go back to the list!</h3>
    </a>

    <table>
      <thead>
        <tr>
          <th>Type</th>
          <th>Name</th>
          <th>Description</th>

        </tr>
      </thead>
      <tbody>
  
          <tr>
            <td> <%= workout.type %></td>
            <td> <%= workout.name %></td>
            <td> <%= workout.description %></td>
          </tr>
      </tbody>
    </table>
</main>

<section>
  <form action="/workouts/<%= workout._id %>/goals" method="POST">
    <label for="">Goal</label>
      <input type="text" name="goal" id="">

    <label for="">Date</label>
      <input type="date" name="date" required>

    <button type="submit">+</button>
  </form>

  <div>Goals:</div>
  <% if(workout.goal.length) { %> 
    <table>
      <thead>
        <tr>
          <th>Goal</th>
          <th>Date</th>
          <th>Completed?</th>
        </tr>
      </thead>
      <tbody>
        <% workout.goal.forEach(function(goal) { %>
          <tr>
            <td><%= goal.goal %></td>
            <td><%= goal.date %> </td>
            <td><input type="checkbox"></td>
         </tr>
        <% }) %>
      </tbody>
    </table>
  <% } else { %>
    <h3>No Goals</h3>
  <% } %>

</section>
<%- include('../partials/footer') %>