<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<link rel="stylesheet" href="/stylesheets/runs/index.css">


<main>
  <section>
    <h1>All Runs</h1>



  <% runs.forEach(function(run) { %>
    <div class="card mb-3" style="max-width: 540px;">
      <div class="header-section">
        <div class="card-header-1"> 
            <%= run.date.toLocaleString().split(',')[0] %>
        </div>
        <div class="card-header-2">
          <%= run.city %>,<%= run.state %>
        </div>
      </div>
      <div class="card-body">
        <p class="card-text">
          <a href="/runs/<%= run._id %>">
            <%= run.owner %>  ran a total of <%= run.distance %> miles in <%= run.time %> minutes !
          </a>
        </p>
      </div>
      <div class="footer-section" id="x-btn">
        <% if (run.owner.equals(user?.profile._id)) { %>
        <form action="/runs/<%= run._id %>?_method=DELETE" method="POST">
            <button class="btn">X</button>
          </form>
          <% } %> 
      </div>
    </div>
      
  <% }) %>
  
</section>
  <div class="add-all-btn">
    <a href="/runs"> 
      <button class="btn-run"> Go Back </button>
    </a>
    <a href="/races"> 
      <button class="btn-run"> Upcoming Races </button>
    </a>
  </div>
</main>
<%- include('../partials/footer') %>
