<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <section>
    <h1>Run Details</h1>
    <h2>Runner <%= run.owner.name %> Stats</h2>
    <!-- <h2><%= run.owner.avatar %></h2> -->



    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Miles</th>
          <th>Pace</th>
          <th>Location</th>

        </tr>
      </thead>
    </table>
   
<form action="/runs/<%= run._id %>?_method=PUT" method="POST">
  <div>
    <label>Date</label>
    <input type="date" name="date" value="<%= run.date %>" autocomplete="off">
  </div>

  <div>
    <label>Distance</label>
    <input type="number" name="distance" value="<%= run.distance %>" autocomplete="off">
  </div>

  <div>
    <label>Pace</label>
    <input type="number" name="pace" value="<%= run.pace %>" autocomplete="off">
  </div>

  <div>
    <label>Location</label>
    <input type="text" name="location" value="<%= run.location %>" autocomplete="off">
  </div>

  <button type="submit">
    Save
  </button>
 
</form>


</section>
<%- include('../partials/footer') %>