<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<link rel="stylesheet" href="/stylesheets/runs/edit.css">

<main>
  <section>

<section>
  <h1>EDIT RUN</h1>
    <h3>Your finger slipped and you missed a button, that's okay! I mess up too sometimes... somedays I actually run 30 miles in 10 mins 0.0 </h3>
  <form action="/runs/<%= run._id %>?_method=PUT" method="POST">

    <div class="form-group col-md-3">
      <label for="edit-distance">How Far Did You Run? (Miles)</label>
      <input type="number" name="distance" class="form-control" value="<%= run.distance %>" id="edit-distance" required>
    </div>

    <div class="form-group col-md-3">
      <label for="run-pace">How Long Did You Run? (Min)</label>
      <input type="number" name="time" value="<%= run.time %>" class="form-control" id="edit-pace" autocomplete="off">
    </div>

    <div class="form-group col-md-3">
      <label for="edit-state">State</label>
      <select type="name" name="state" class="form-control" value="<%= run.state %>" id="edit-state">
        <option selected>Select Current State</option>
        <option>AL</option>
        <option>AK</option>
        <option>AZ</option>
        <option>AR</option>
        <option>AS</option>
        <option>CA</option>
        <option>CO</option>
        <option>CT</option>
        <option>DE</option>
        <option>DC</option>
        <option>FL</option>
        <option>GA</option>
        <option>GU</option>
        <option>HI</option>
        <option>ID</option>
        <option>IL</option>
        <option>IN</option>
        <option>IA</option>
        <option>KS</option>
        <option>KY</option>
        <option>LA</option>
        <option>ME</option>
        <option>MD</option>
        <option>MA</option>
        <option>MI</option>
        <option>MN</option>
        <option>MS</option>
        <option>MS</option>
        <option>MO</option>
        <option>MT</option>
        <option>NE</option>
        <option>NV</option>
        <option>NH</option>
        <option>NJ</option>
        <option>NM</option>
        <option>NY</option>
        <option>NC</option>
        <option>ND</option>
        <option>CM</option>
        <option>OH</option>
        <option>OK</option>
        <option>OR</option>
        <option>PA</option>
        <option>PR</option>
        <option>RI</option>
        <option>SC</option>
        <option>SD</option>
        <option>TN</option>
        <option>TX</option>
        <option>UT</option>
        <option>VT</option>
        <option>VA</option>
        <option>VI</option>
        <option>WA</option>
        <option>WV</option>
        <option>WI</option>
        <option>WY</option>
      </select>
    </div>

    <div class="form-group col-md-3">
      <label for="run-location">City</label>
      <input type="text" name="city" class="form-control" value="<%= run.city %>" id="edit-city" autocomplete="off" required>
    </div>

    <div class="form-group col-md-3">
      <label for="edit-date">Date</label>
      <input type="date" name="date" class="form-control" value="<%= run.date %>" id="edit-date" autocomplete="off" required> 
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</section>
<%- include('../partials/footer') %>