<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <section>
    <h1>Run Details</h1>
    <h2>Runner <%= run.owner.name %> Stats</h2>
    <!-- <h2><%= run.owner.avatar %></h2> -->



    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Miles</th>
          <th>Run Time</th>
          <th>City</th>
          <th>State</th>
        </tr>
      </thead>
      <tbody>
  
          <tr>
            <td> <%= run.date.toLocaleString().split(',')[0] %></td>
            <td> <%= run.distance %> miles</td>
            <td> <%= run.time %> min.</td>
            <td> <%= run.city %></td>
            <td> <%= run.state %></td>
          </tr>
      </tbody>
    </table>

   <h2>
    This run looks <%= run.easy ? 'easy😋':'hard😫' %> 
   </h2> 
   
<% if (user) { %>
  <form 
  action="/runs/<%= run._id %>/easy-run?_method=PATCH" 
  method="POST"
  >
    <button type="submit">
      <%= run.easy ? 'Looks Hard😫' : 'EASY😋' %> 
    </button>
  </form>
<% } %>

<% if (run.owner.equals(user?.profile._id)) { %>
<form action="/runs/<%= run._id %>/edit" method="GET">
  <button type="submit">Edit Run Details</button>
</form>
<% } %>

<a href="/runs"> 
  <button> Go Back </button>
</a>

</section>
<%- include('../partials/footer') %>
