<%- include('./partials/html-head') %>
<% if (!user) { %>
  <link rel="stylesheet" href="/stylesheets/siwg.css">
<% } %>

 <% if (user) { %>
  <nav> 
    <a href="/profiles">
      <i class="fa-solid fa-circle-user"></i>
    </a>
    <a href="/auth/logout">
      <i class="fa-solid fa-right-from-bracket"></i>
  </nav>
<% } %>

<main>
  <h1>Welcome <%= user ? user.profile.name : "User" %></h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } %>

  <% if (user) { %>
  
    <h1>
      <div>
        <a href="/runs">
          My Runs
        </a>
      </div>
      <div>
        <a href="/races">
          Races
        </a>
      </div>
      <div>
        <a href="/profiles">
          Trainers
        </a>
      </div>
    </h1>
    
  <% } else { %>
    <a href="/auth/google" class="siwg-link">
      <button type="submit" class="siwg">
        <img id="siwg-image" alt="Sign in with Google" />
      </button>
    </a>
  <% } %>
</main>

<%- include('./partials/footer') %>
