<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/races/index.css">
<%- include('../partials/nav') %>

<main>
  <h1>Upcoming Races</h1>

  <div class="add-view-btn">
    <a href="/races/new"> 
      <button class="btn-race" type="button">
        Add Race 
       </button>
     </a>
     <a href="/profiles"> 
      <button class="btn-race" type="button">
       View Runners 
       </button>
     </a>
  </div> 
  
   <div class="cardContainer">
  <% races.forEach(race => { %>
    <div class="card" style="width: 30rem;">
      <img src="https://source.unsplash.com/random/200x200?sig=1" class="card-img-top" alt="Random Img"/>
      <div class="card-body">
        <h5 class="card-title"><%= race.name %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= race.date.toLocaleString().split(',')[0] %></h6>
        <p class="card-text"></p>
      </div>
      <div class="body-section">
        <li class="list-group-item">
          <%= race.location %>
        </li>
        <li class="list-group-item">
          <%= race.time %><%= race.daytime ? "PM" : "AM" %>
        </li>
      </div>
  
    <% if (race.owner.equals(user.profile._id)) { %>
      <form action="/races/<%= race._id %>?_method=DELETE" method="POST" >
        <div class="card-body">
          <button>
           Remove
          </button>
        </div>
      </form>
      <% } %> 
    </div>
    
    <% }) %>
  </div>
</main>

<%- include('../partials/footer') %>
