<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<link rel="stylesheet" href="/stylesheets/races/index.css">

<main>
  <section>
    <h1>Upcoming Races</h1>
    
    <a href="/races/new"> 
      <button> Add Race </button>
    </a>

  <% races.forEach(race => { %>
    <div class="card" style="width: 18rem;">
      <img src="https://source.unsplash.com/random/200x200?sig=1" class="card-img-top" alt="Random Img"/>
      <div class="card-body">
        <h5 class="card-title"><%= race.name %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= race.date.toLocaleString().split(',')[0] %></h6>
        <p class="card-text"></p>
      </div>
      <div class="body-section">
        <div class="body-1">
          <li class="list-group-item">
            <%= race.location %>
          </li>
        </div>
        <div class="body-2">
          <li class="list-group-item">
            <%= race.time %><%= race.daytime ? "PM" : "AM" %>
          </li>
        </div>
      </div>
  
 
      <div class="card-body">
        <a href="#" class="card-link">View Race</a>
      </div>
    </div>

  <% }) %>


  
</main>


<%- include('../partials/footer') %>
