<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <section>
    <h1>To Do</h1>


    <form id="add-to-do" action="/workouts/<%= workout._id %>/todos" method="POST">

      <select name="todos">
        <% workout.forEach(workout => { %>
          <option value="<%= workout._id %>"><%= workout.name %></option>
        <% }) %>
      </select>

      <button type="submit">Add to do</button>
    </form>

    <table>
      <thead>
        <tr>
          <th>Type</th>
          <th>Name</th>
          <th>Description</th>
          <th>View Details</th>
          <th>To Do?</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </section>
</main>
<%- include('../partials/footer') %>